@viewport {
    width: extend-to-zoom;
    zoom: 1.0;
}

body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    color: #e5e7eb;
    font-family: 'Comic Neue', cursive;
    align-items: center stretch;
    padding: 0;
    margin: 0;
}

.chat-window {
    flex-flow: row;
}