package templates

import "github.com/rodrigomeireles/llm-client/backend/models"

templ History(history []models.ChatMessage) {
	for _, message := range history {
		switch message.Role {
			case "user":
				<p>{ message.Content } </p>
			case "assistant":
				<p class="text-silver_lake_blue">{ message.Content } </p>
		}
	}
}
